<?xml version="1.0"?>

<launch>
  <!--加载地图-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find shigu_gazebo)/worlds/playpen.world"/>
    <!-- <arg name="world_name" value="$(find shigu_gazebo)/worlds/turtleworlds/turtlebot3_world.world"/> -->
    <!-- <arg name="world_name" value="$(find shigu_gazebo)/worlds/liangcang.world"/> -->
    <!-- <arg name="world_name" value="$(find shigu_gazebo)/worlds/worlds/office_env_large.world"/> -->
    <!-- <arg name="world_name" value="$(find shigu_gazebo)/worlds/my_world20211108.world"/> -->
    <!-- <arg name="world_name" value="$(find shigu_gazebo)/worlds/my_world20211108_2d2.world"/> -->
    <!-- <arg name="world_name" value="$(find shigu_gazebo)/worlds/my_world20211108_2d3.world"/> -->
    <!-- <arg name="world_name" value="$(find shigu_gazebo)/worlds/my_world20211108_3d.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
